<ul class="nav nav-list">
{% for section in site.sections %}
    {% assign attr = section[0] %}
    {% for page in site.categories.[attr] %}
        {% if forloop.first %}
            <li class=nav-header>{{ section[1] }}</li>
        {% endif %}
        <li><a href="{% if site.baseurl %}{{ site.baseurl }}{{ page.url|remove_first:'/' }}{% else %}{{ page.url }}{% endif %}">{{ page.title }}</a></li>
    {% endfor %}
{% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>
